/*HOW UGLY WILL THIS BE??? */
.text {
  font-family: 'Comfortaa';
  color:white;
  font-size: 125px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: white;
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
p {
  font-size: 25px;
  margin-bottom: 10px;
}
button {
  font-family: 'Comfortaa';
  background-color: #0094ff;
  color: white;
  padding: 8px;
  width: 400px;
  height: 200px;
  outline: 10px solid yellow;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #017fd9;
}
button.redrict {
  background-color: #0099ff;
  color: white;
  padding: 8px;
  width: 400px;
  height: 200px;
  outline: 10px solid orange;
  border: none;
  cursor: pointer;
}
button.redrict:hover {
  background-color: #0065a9;
}
button.bookmark {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 100px;
}
.container {
  font-family: 'Comfortaa';
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color:red;
  color:white;
}
input{
  font-family: 'Comfortaa';
  width:700px;
  height: 175px;
  background-color:yellow;
  color:black;
  outline: 15px solid orange;
  margin-bottom:25px;
}
.toggle-bar {
  position: absolute;
  top: calc(100% - 44px);
  right: 20px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
}

.toggle-button {
  background-color: #0094ff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}

.rectangle {
  display: flex;
  flex-direction: column;
  background-color: #2081c8;
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
  max-width: 350px;
  color: white;
}
